.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav h1 {
  margin: 0;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav li {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav li:hover {
  color: #ffeb3b;
  cursor: pointer;
}

/* Styles pour le bouton de menu burger */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #007bff;
    padding: 1rem 0;
    margin: 0;
  }

  .nav li {
    text-align: center;
  }

  .nav ul.open {
    display: flex;
    animation: fadeInDown 1s ease-out;
  }

  

  .menu-toggle {
    display: block;
  }
}
