.skills {
  padding: 2rem;
  background-color: var(--secondary);
  text-align: center;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primary);
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  li {
    background: var(--white);
    border: var(--borderGrey);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: var(--transition);

    &:hover {
      transform: scale(1.05);
      box-shadow: var(--shadowHover);
      cursor: pointer;
    }
  }

  figure{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary);
  }

  figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark);
  }
}

.html-icon {
  color: #e44d26;
}

.css-icon {
  color: #1572b6;
}

.sass-icon {
  color: #cc6699;
}

.js-icon {
  color: #f7df1e;
}

.react-icon {
  color: #61dafb;
}

.redux-icon {
  color: #764abc;
}

.swagger-icon {
  color: var(--primary)
}

.github-icon {
  color: var(--dark);
}
