.contact {
  background-color: var(--secondary);
  padding: 2rem;
  text-align: center;
  color: var(--dark);

  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--dark);
  text-decoration: none;
  transition: var(--transition);

  i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

.social-icon.facebook {
  color: #3b5998;
}

.social-icon.instagram {
  color: #e4405f;
}